.Background {
  background-color: lightcyan;
  height: 100vh;
  display: flex;
  flex-direction: column; /* To stack elements vertically */
  justify-content: center; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
} 

.WelcomeText {
  color: black;
  margin-bottom: 20px; /* Space between App and InputField/Button */
}

.Button {
  margin-top: 20px; /* Space between InputField and Button */
}

.InputField {
  margin-bottom: 20px; /* Space between InputField and Button */
}
